@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <span class="layui-breadcrumb">
        <a href="index"><span i18n="footer.menu.policy">保單信息</span></a>
        <a><cite i18n="footer.menu.policy">详情</cite></a>
    </span>

    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 20px;">
        <span class="layui-badge-rim layui-bg-orange">人员名称</span>@Model.Name &nbsp;&nbsp;
        <span class="layui-badge-rim layui-bg-orange">保单</span>@Model.Desc
    </blockquote>

    @{
        foreach (var item in Model.PlplList)
        {
            <i class="layui-icon" style="font-size: 15px; color: red;">&#xe60a;</i>
            @item.PDCT_NAME
            <hr class="layui-bg-red">
            <div class="layui-form" style="margin-bottom:30px;">
                <table class="layui-table">
                    <colgroup>
                        <col>
                        <col width="70">
                        <col width="130">
                        <col width="195">
                        <col width="170">
                        <col width="150">
                        <col width="50">
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th i18n="policy.detail.total">總金額</th>
                            <th i18n="policy.detail.employee">員工金額</th>
                            <th i18n="policy.detail.target">雇主金額</th>
                            <th i18n="policy.detail.tax">稅率金額</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var info in Model.PlplInfoList)
                            {
                                <tr>
                                    <td><input type="radio" name="radio" title=" ">@info.PDPD_NAME</td>
                                    <td><span class="layui-badge">默认</span></td>
                                    <td>@info.PLME_AMT</td>
                                    <td>@info.EMP_AMT</td>
                                    <td>@info.EMPYEE_AMT</td>
                                    <td>@info.TXTX_AMT</td>
                                    <td style="padding: 0;text-align:center" data-off="true">
                                        <div class="layui-table-cell laytable-cell-1-4">
                                            <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="detail" i18n="public.common.detail">查看</a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
                            }
    }
</div>
<script src="~/Scripts/Policy/Detail.js"></script>