@using Newtonsoft.Json
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <span class="layui-breadcrumb">
        <a href="index"><span i18n="footer.menu.policy">保單信息</span></a>
        <a><cite i18n="footer.menu.policy">详情</cite></a>
    </span>

    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 20px;">
        <span class="layui-badge-rim layui-bg-orange">人员名称</span>&nbsp;@Model.Name &nbsp;&nbsp;
        <span class="layui-badge-rim layui-bg-orange">保单</span>&nbsp;@Model.Desc
    </blockquote>
    <form class="layui-form" action="">
        @{
            foreach (var item in Model.PlplList)
            {
                <div>
                    <i class="layui-icon" style="float: left;font-size: 30px;">&#xe60a;</i><div style="float: left;line-height:30px">@item.PDCT_NAME</div>
                </div>
                <hr class="layui-bg-red">
                <div class="layui-form" style="margin-bottom:30px;">
                    <table class="layui-table">
                        <colgroup>
                            <col>
                            <col width="70">
                            <col width="130">
                            <col width="195">
                            <col width="170">
                            <col width="150">
                            <col width="50">
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th i18n="policy.detail.total">總金額</th>
                                <th i18n="policy.detail.employee">員工金額</th>
                                <th i18n="policy.detail.target">雇主金額</th>
                                <th i18n="policy.detail.tax">稅率金額</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var info in Model.PlplInfoList)
                                {
                                    if (info.PDCT_ID != item.PDCT_ID) { continue; }
                                    <tr>
                                        @{var check = info.PLPD_DEF_IND == "Y" ? "checked" : "";}
                                        @{var _default = info.PLPD_DEF_IND == "Y" ? "<span class='layui-badge layui-bg-orange'>默认</span>" : "";}
                                        <td><input type="radio" id="ids" name="radio@(new HtmlString(info.PDCT_ID))" title=" " value="@JsonConvert.SerializeObject(info)" @check>@info.PDPD_NAME</td>
                                        <td>@(new HtmlString(_default))</td>
                                        <td>@info.PLME_AMT</td>
                                        <td>@info.EMP_AMT</td>
                                        <td>@info.EMPYEE_AMT</td>
                                        <td>@info.TXTX_AMT</td>
                                        <td style="padding: 0; text-align: center" data-off="true">
                                            <div class="layui-table-cell laytable-cell-1-4">
                                                <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="detail" i18n="public.common.detail" onclick="showInformation('@info.PDPD_ID')">查看</a>
                                            </div>
                                        </td>
                                    </tr>
                                            }

                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    
        <div style="text-align: right;">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitDetailRadio">保存</button>
                <a class="layui-btn layui-btn-primary" onclick="returnbackurl()">返回</a>
            </div>
            
        </div>
    </form>
    
</div>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/Policy/Detail.js"></script>
