@using HkEbPortal.Models.EB_PORTAL
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="footer.menu.policy">福利選擇</legend>
    </fieldset>

    <div class="tableheight">
        @{
            foreach (var name in Model.Names)
            {
                <div style="padding-top: 10px;">
                    @{
                        var _color = "#c12017";
                        var _icon = "&#xe613";
                        var _isMaster = "";

                        if (name.SYSV_MEME_REL_CD == "E")
                        {
                            _color = "#c12017";
                            _icon = "&#xe613";
                            _isMaster = "i18n=Policy.index.Employee ";
                        }
                        else if (name.SYSV_MEME_REL_CD == "S")
                        {
                            _color = "#FF5722";
                            _icon = "&#xe612";
                            _isMaster = "i18n=Policy.index.Spouse ";
                        }
                        else
                        {
                            _color = "#FF5722";
                            _icon = "&#xe612";
                            _isMaster = "i18n=Policy.index.Child ";
                        }
                    }
                    <div style="width:100%">
                        <i class="layui-icon" style="float: left;  font-size: 30px; color: @(new HtmlString(_color));">@(new HtmlString(_icon));</i>
                        <div style="float: left; line-height: 30px">
                            <span class="layui-badge-rim layui-bg-orange" @_isMaster)>...</span>@name.MEME_NAME &nbsp;&nbsp;
                        </div>
                        @if (name.SYSV_MEME_REL_CD == "E")
                        { 
                            <div style="float: right; line-height: 30px">
                                <span class="layui-badge-rim layui-bg-orange" i18n="Policy.index.Initial">当前积分</span> &nbsp;@Model.INITIAL_AMT
                                <span class="layui-badge-rim layui-bg-orange" i18n="Policy.index.Remaiuing">剩余积分</span> &nbsp;@Model.BlanAmount
                            </div>
                        }
                    </div>
                </div>
                <hr class="layui-bg-red" />
                <table class="layui-table">
                    <colgroup>
                        <col width="350">
                        <col>
                        <col width="150">
                        <col width="80">
                        <col width="70">
                    </colgroup>
                    <thead>
                        <tr>
                            <th i18n="Policy.index.Product">产品</th>
                            <th i18n="Policy.index.Plan">计划</th>
                            <th i18n="Policy.index.Points"><span>积分</span></th>
                            <th i18n="Policy.index.Level"><span>级别</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="memberTableBody">
                        @foreach (var item in ((List<SPEH_PLME_PLOCY_MEME_INFO_LIST_WEB_RESULT2>)Model.Tables).Where(x => x.MEME_KY == name.MEME_KY))
                        {
                            <tr>
                                <td> @item.PDCT_NAME </td>
                                <td> @item.PLAN_DESC </td>
                                <td> @item.PLME_AMT  </td>
                                <td> @item.LEVEL_IND </td>
                                <td style="padding: 0px;" align="center" data-off="true">
                                    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" i18n="public.common.select" href="../Policy/Detail?plplKy=@item.PLPL_KY&memeKy=@item.MEME_KY&pdctId=@item.PDCT_ID">Selected</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                        }
        }
    </div>

</div>

<script src="../Scripts/common.js"></script>
<script src="../Scripts/Policy/Index.js"></script>
<script type="text/javascript">
    $(function () {
        $("#linkPolicy").addClass("navbarCheckIn");
    });
</script>
