
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Scripts/css/layui.css" rel="stylesheet" />
    <script src="../Scripts/layui.js"></script>
    <script src="../Scripts/common.js"></script>
    <script src="../Scripts/Policy/Detail.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Information</title>
</head>
<body style="padding:0;">
    <div class="layui-tab layui-tab-card" lay-filter="tabInformation" style="margin:0 10px 0 10px;">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="1">基础信息</li>
            <li lay-id="2">责任信息</li>
            <li lay-id="3">计划描述</li>
            <li lay-id="4">条款</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <col width="100">
                        <col>
                        <col width="100">
                        <col width="290">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="tdtextalign">计划号</td>
                            <td colspan="3">@Model.BasicInfo.PDPD_ID</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">计划名称 </td>
                            <td colspan="3">@Model.BasicInfo.PDPD_SHORT_NAME</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">计划全称</td>
                            <td colspan="3">@Model.BasicInfo.PDPD_LONG_NAME</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">客户产品号</td>
                            <td>@Model.BasicInfo.CLIENT_PROD_ID</td>
                            <td class="tdtextalign">产品类型</td>
                            <td>@Model.BasicInfo.PDPD_ID_DESC</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">生效日</td>
                            <td>@Model.BasicInfo.PDCT_EFF_DT</td>
                            <td class="tdtextalign">产品类型</td>
                            <td>@Model.BasicInfo.PDCT_END_DT</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">产品线</td>
                            <td>@Model.BasicInfo.LBLB_LONG_NAME</td>
                            <td class="tdtextalign">共保比例</td>
                            <td>@Model.BasicInfo.PDBD_COIN_PCT</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">年限额</td>
                            <td>@Model.BasicInfo.PDBD_LTLT_A_AMT</td>
                            <td class="tdtextalign">日免赔</td>
                            <td>@Model.BasicInfo.PDBD_DEDE_D_AMT</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">次免赔</td>
                            <td>@Model.BasicInfo.PDBD_DEDE_V_AMT</td>
                            <td class="tdtextalign">年免赔</td>
                            <td>@Model.BasicInfo.PDBD_DEDE_A_AMT</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">日限额</td>
                            <td>@Model.BasicInfo.PDBD_LTLT_D_AMT</td>
                            <td class="tdtextalign">次限额 </td>
                            <td>@Model.BasicInfo.PDBD_LTLT_V_AMT</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">等待期 </td>
                            <td>@Model.BasicInfo.PDBD_WAIT_DAYS</td>
                            <td class="tdtextalign">天数限额</td>
                            <td>@Model.BasicInfo.PDBD_LTLT_DAYS</td>
                        </tr>
                        <tr>
                            <td class="tdtextalign">次数限额</td>
                            <td>@Model.BasicInfo.PDBD_LTLT_VSTS</td>
                            <td class="tdtextalign">特别约定</td>
                            <td>@Model.BasicInfo.PDPD_SPC_TERM</td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div class="layui-tab-item">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <col>
                        <col width="55">
                        <col width="45">
                        <col width="45">
                        <col width="45">
                        <col width="45">
                        <col width="45">
                        <col width="45">
                        <col width="45">
                        <col width="55">
                        <col width="55">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>责任描述</th>
                            <th style="padding:0 2px 0 2px;">共保比例</th>
                            <th style="padding:0 2px 0 2px;">年限额</th>
                            <th style="padding:0 2px 0 2px;">日免赔</th>
                            <th style="padding:0 2px 0 2px;">次免赔</th>
                            <th style="padding:0 2px 0 2px;">年免赔</th>
                            <th style="padding:0 2px 0 2px;">日限额</th>
                            <th style="padding:0 2px 0 2px;">次限额</th>
                            <th style="padding:0 2px 0 2px;">等待期</th>
                            <th style="padding:0 2px 0 2px;">天数限额</th>
                            <th style="padding:0 2px 0 2px;">次数限额</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var pdfinfo in @Model.PdfInfo)
                            {
                                <tr>
                                    <td>@pdfinfo.BFBF_DESC</td>
                                    <td>@pdfinfo.PDBD_COIN_PCT</td>
                                    <td>@pdfinfo.PDBD_LTLT_A_AMT</td>
                                    <td>@pdfinfo.PDBD_DEDE_D_AMT</td>
                                    <td>@pdfinfo.PDBD_DEDE_V_AMT</td>
                                    <td>@pdfinfo.PDBD_DEDE_A_AMT</td>
                                    <td>@pdfinfo.PDBD_LTLT_D_AMT</td>
                                    <td>@pdfinfo.PDBD_LTLT_V_AMT</td>
                                    <td>@pdfinfo.PDBD_WAIT_DAYS</td>
                                    <td>@pdfinfo.PDBD_LTLT_DAYS</td>
                                    <td>@pdfinfo.PDBD_LTLT_VSTS</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="layui-tab-item">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <col>
                        <col width="600">
                    </colgroup>
                    <tbody>
                    @{
                        foreach (var treeInfo in @Model.TreeInfo)
                        {
                            <tr>
                                <td>@treeInfo.TITLE</td>
                                <td>@treeInfo.BUF1</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            <div class="layui-tab-item">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <col>
                        <col width="500">
                    </colgroup>
                    <tbody>
                        @{
                            foreach (var descInfo in @Model.DescInfo)
                            {
                                <tr>
                                    <td>@descInfo.TITLE</td>
                                    <td>@descInfo.TEXT</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
