@using HkEbPortal.Models.EB_PORTAL
@model IEnumerable<SPEH_FMAD_ACCOUNT_DET_LIST_RESULT>

@{
    Layout = null;
}

<html>
<head>
    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Scripts/css/layui.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/layui.js"></script>
    <script src="../Scripts/common.js"></script>
    <script src="../Scripts/Policy/Detail.js"></script>
    <script src="../Scripts/language/jquery.i18n.min.js"></script>
    <script src="../Scripts/language/laodlanguage.js"></script>
    <script src="../Scripts/jquery.cookie-1.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="padding:0;">
    <div class="container">
        <table class="layui-table" style="min-width:100px;max-width:1200px;min-height:100px;max-height:600px;">
            <thead>
                <tr>
                    <th hidden>Key</th>
                    <th i18n="Insurant.BillingInfomationDetail.date">日期</th>
                    <th i18n="Insurant.BillingInfomationDetail.type">类型</th>
                    <th i18n="Insurant.BillingInfomationDetail.points">分数</th>
                    <th i18n="Insurant.BillingInfomationDetail.currentpoints">当前分数</th>
                    <th i18n="Insurant.BillingInfomationDetail.comment">备注</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>@item.FMAC_KY</td>
                        <td>@item.Transection_Date</td>
                        <td>@item.Transection_Type</td>
                        <td>@item.Points</td>
                        <td>@item.Current_Points</td>
                        <td>@item.Comment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(function () {
            laodlanguage();
        })
    </script>
</body>

</html>
