@using HkEbPortal.Models.EB_PORTAL
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link href="../Scripts/css/layui.css" rel="stylesheet" />
<div class="container">

    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="footer.menu.member">受保人資料</legend>
    </fieldset>

    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 20px;">
        <table class="layui-table" lay-skin="nob" style="margin:0;">
            <colgroup>
                <col width="100">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td style="text-align: left;padding:5px;"><span class="layui-badge-rim layui-bg-orange"><span i18n="Insurant.index.member">會員編號</span></span></td>
                    <td style="font-size:17.5px;padding:5px;">@Model.MEMBER_ID</td>
                </tr>
                <tr>
                    <td style="text-align: left; padding: 5px;"><span class="layui-badge-rim layui-bg-orange"><span i18n="Insurant.index.memename">受保僱員</span></span></td>
                    <td style="font-size: 17.5px; padding: 5px;">@Model.NAME</td>
                </tr>
                <tr>
                    <td style="text-align: left; padding: 5px;"><span class="layui-badge-rim layui-bg-orange"><span i18n="Insurant.index.gpgpname">保單持有人</span></span></td>
                    <td style="font-size: 17.5px; padding: 5px;">@Model.GPGP_NAME</td>
                </tr>
                <tr>
                    <td style="text-align: left; padding: 5px;"><span class="layui-badge-rim layui-bg-orange"><span i18n="Insurant.index.employeelevel">附屬公司</span></span></td>
                    <td style="font-size: 17.5px; padding: 5px;">@Model.GCGC_DESC</td>
                </tr>
            </tbody>
        </table>
    </blockquote>

    <div class="layui-tab layui-tab-card tableheight" lay-filter="memberInfoTable">
        <ul class="layui-tab-title">
            <li lay-id="111" class="layui-this" i18n="Insurant.index.memeber">員工資訊</li>
            <li lay-id="222" i18n="Insurant.index.family">家庭成員</li>
            <li lay-id="333" i18n="Insurant.index.policyInfo">福利信息</li>
            <li lay-id="444" i18n="Insurant.index.billingInformation">積分使用記錄</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th hidden>KEY</th>
                            <th i18n="Insurant.table1.employeestartdate">生效日</th>
                            <th i18n="Insurant.table1.employeemonthly">基本月薪 (HK$)</th>
                            <th i18n="Insurant.table1.employeestaffdep">員工部門</th>
                            <th i18n="Insurant.table1.employeelevel">僱員等級</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EmployeeInfoList)
                        {
                            <tr>
                                <td hidden>@item.FMFM_KY</td>
                                <td>@item.FMDT_EFF_DT</td>
                                <td>@item.FMFM_ANNUAL_SALARY</td>
                                <td>@item.FMFM_DEPT</td>
                                <td>@item.GCGC_DESC</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th hidden>KEY</th>
                            <th i18n="Insurant.table2.Relationship">關係</th>
                            <th i18n="Insurant.table2.Name">姓名</th>
                            <th i18n="Insurant.table2.IDnumber">香港身份證/護照號碼</th>
                            <th i18n="Insurant.table2.Gender">性別</th>
                            <th i18n="Insurant.table2.Birthday">出生日期</th>
                            <th i18n="Insurant.table2.Email">電子郵件</th>
                        </tr>
                    </thead>
                    <tbody id="familyId">
                        @foreach (var item in Model.FamliyList)
                        {
                            <tr>
                                <td hidden>@item.FMFM_KY</td>
                                <td>@item.SYSV_MEME_REL_CD_DESC</td>
                                <td>@item.MEME_NAME</td>
                                <td>@item.MEME_CERT_ID_NUM</td>
                                <td>@item.SYSV_SEX_DESC</td>
                                <td>@item.MEME_BIRTH_DT</td>
                                <td>@item.MEME_EMAIL</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th i18n="Insurant.table3.policyNo">保單號</th>
                            <th i18n="Insurant.table3.policystatus">保單狀態</th>
                            <th i18n="Insurant.table3.startdate">保單生效日</th>
                            <th i18n="Insurant.table3.enddate">保單到期日</th>
                            <th i18n="Insurant.table3.memename">姓名</th>
                            <th i18n="Insurant.table3.relationship">家庭關係</th>
                            <th i18n="Insurant.table3.idnumber">會員編號</th>
                            <th i18n="Insurant.table3.type">等級</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="policyInfoId">
                        @foreach (var item in Model.BenefitInfoList)
                        {
                            <tr>
                                <td hidden>@item.PLPL_ID</td>
                                <td>@item.SYSV_PLPL_STS</td>
                                <td>@item.PLME_STR_DT</td>
                                <td>@item.PLPL_END_DT</td>
                                <td>@item.MEME_NAME</td>
                                <td>@item.SYSV_MEME_REL_CD</td>
                                <td>@item.Cert_No - @item.Cert_Prefix</td>
                                <td>@item.CLASS</td>
                                <td><a class='layui-btn layui-btn-danger layui-btn-mini' i18n='public.common.detail' onclick='ShowBenefitInfo(@item.PLPL_KY,@item.MEME_KY)'>detail</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" lay-skin="line">
                    <thead>
                        <tr>
                            <th hidden>key</th>
                            <th i18n="Insurant.table4.PolicyID">保單號</th>
                            <th i18n="Insurant.table4.BillingDate">保單生效日</th>
                            <th i18n="Insurant.table4.Billingtype">保單到期日</th>
                            <th i18n="Insurant.table4.CurrentAmount">起始積分</th>
                            <th i18n="Insurant.table4.Bill">當前積分</th>
                            <th i18n="Insurant.table4.Comment">備註</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="BillingInformationId">
                        @foreach (var item in Model.PointsRecordsList)
                        {
                            <tr>
                                <td hidden>@item.FMAC_KY</td>
                                <td>@item.Policy_ID</td>
                                <td>@item.Start_Date</td>
                                <td>@item.End_Date</td>
                                <td>@item.Initial_Amout</td>
                                <td>@item.Current_Points</td>
                                <td>@item.Comment</td>
                                <td><a href='javascript:void(0)' class='layui-btn layui-btn-danger layui-btn-mini' i18n='public.common.detail' onclick='ShowDetail(@item.FMAC_KY)'>detail</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/Insurant/Index.js"></script>