@using HkEbPortal.Models.EB_PORTAL
@model SPEH_CLIV_CLAIM_INVOICE_INFO_SELECT_RESULT
@{
    ViewBag.Title = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <span class="layui-breadcrumb">
        <a href="index"><span i18n="Reimbursement.Index.fsaClaims">报销</span></a>
        <a><cite i18n="Reimbursement.edit.edit">编辑</cite></a>
    </span>
    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="Reimbursement.Index.fsaClaims">編輯報銷</legend>
    </fieldset>

    <form class="layui-form" action="EditUpdate" method="post">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.faimily" class="layui-form-label" style="min-width:110px;">家庭成員</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("FMFM_DropDownList", ViewData["FMFM_DropDownList"] as SelectList, new Dictionary<string, object>() { { "lay-verify", "required" }, { "lay-filter", "fmfmId" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.benefit" class="layui-form-label" style="min-width:110px;">福利*</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("EBEB_DropDownList", ViewData["EBEB_DropDownList"] as SelectList, new Dictionary<string, object> { { "lay-verify", "required" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.type" class="layui-form-label" style="min-width:110px;">發票類型</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("CLIV_DropDownList", ViewData["CLIV_DropDownList"] as SelectList, new Dictionary<string, object> { { "lay-verify", "required" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.no" class="layui-form-label" style="min-width:110px;">發票號</label>
                <div class="layui-input-inline">
                    <input type="text" name="CLIV_ID" value="@Model.CLIV_ID" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入" lay-verify="required" class="layui-input" />
                    <input type="hidden" name="CLIV_KY" value="@Model.CLIV_KY" />
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.service" class="layui-form-label" style="min-width:110px;">發票日</label>
                <div class="layui-input-inline">
                    <input type="text" id="CLIV_Date" name="CLIV_Date" value="@Model.CLIV_DT" class="layui-input" lay-verify="required" placeholder="DD/MM/YYYY" />
                </div>
            </div>
            @*<div class="layui-inline">
                <label i18n="Reimbursement.edit.application" class="layui-form-label" style="min-width:110px;">申請日</label>
                <div class="layui-input-inline">
                    <input type="text" id="Apply_Date" name="Apply_Date" value="@Model.CLIV_APP_DT" autocomplete="off" class="layui-input" lay-verify="date" placeholder="DD/MM/YYYY" />
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.apply" class="layui-form-label" style="min-width:110px;">申請金額</label>
                <div class="layui-input-inline">
                    <input type="text" name="ApplyAMT" value="@Model.CLIV_APPLY_AMT" lay-verify="required" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>*@
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.invoice" class="layui-form-label" style="min-width:110px;">發票金額</label>
                <div class="layui-input-inline">
                    <input type="text" name="CLIV_CHG" value="@Model.CLIV_CHG" lay-verify="required" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label i18n="Reimbursement.edit.comments" class="layui-form-label">説明</label>
            <div class="layui-input-block">
                <textarea i18n="public.common.pleaseInput" name="COMMENT" i18n-only="placeholder" placeholder="请输入内容" class="layui-textarea">@Model.CLIV_COMMENT</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.amount" class="layui-form-label" style="min-width:110px;">調整金額</label>
                <div class="layui-input-inline">
                    <div class="layui-form-mid layui-word-aux">@Model.CLIV_ADJ_AMT</div>
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.user" class="layui-form-label" style="min-width:110px;">調整用戶</label>
                <div class="layui-input-inline">
                    <div class="layui-form-mid layui-word-aux">@Model.CLIV_ADJ_USUS_ID</div>
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.reason" class="layui-form-label" style="min-width:110px;">調整原因</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">@Model.CLIV_ADJ_EXEX_ID</div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.payamount" class="layui-form-label" style="min-width:110px;">报销费用</label>
                <div class="layui-input-inline">
                    <div class="layui-form-mid layui-word-aux"><span style="font-size:30px;font-weight:500; color: #C21B17;">@Model.CLIV_PAYABLE</span>  </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.image" class="layui-form-label" style="min-width:110px;">發票信息</label>
                <div class="layui-input-inline">
                    <img src="@Model.CLIV_IMG_PATH" style="width:200px;height:100px;padding-left:10px;" />
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" id="btnsubmitId">立即提交</button>
                <a class="layui-btn layui-btn-primary" onclick="window.location.href = 'index'" i18n="public.common.back">返回</a>
            </div>
        </div>
    </form>
</div>


<script src="../Scripts/lay/modules/form.js"></script>
<script src="../Scripts/language/jquery.i18n.min.js"></script>
<script src="../Scripts/language/laodlanguage.js"></script>
<script src="../Scripts/jquery.cookie-1.4.1.min.js"></script>
<script src="../Scripts/Reimbursement/Edit.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        $("#linkReim").addClass("navbarCheckIn");
        //执行一个laydate实例
        laydate.render({
            elem: '#CLIV_Date', //指定元素
            format: 'dd/MM/yyyy'
        });
        //laydate.render({
        //    elem: '#Apply_Date', //指定元素
        //    format: 'dd/MM/yyyy'
        //});

        form.on('select(fmfmId)', function (data) {
            if (data.value) {
                // layer.msg("哈哈哈哈！你点击我干嘛！看到你了");
                //$("#EBEB_DropDownList").val("8358822");
                //刷新select选择框渲染
                form.render('select');
            } else {
                //layer.msg("哈哈哈哈！都没用改变值，你想骗我？");
            }
        });
    });

    $(function () {
        laodlanguage();
        $("#btnsubmitId").on("click", function () {

        });
    });
</script>