@using HkEbPortal.Models.EB_PORTAL
@model IEnumerable<SPEH_CLIV_CLAIM_INVOICE_INFO_LIST_WEB_RESULT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend i18n="Reimbursement.Index.fsaClaims">報銷</legend>
    </fieldset>

    <div class="layui-form" style="min-height:600px;max-height:100%;">
        <table class="layui-table">
            <colgroup>
                <col width="90">
                <col width="120">
                <col>
                <col width="110">
                <col width="90">
                <col width="90">
                <col width="115">
                <col width="120">
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th i18n="Reimbursement.Index.Applicant">家庭成員</th>
                    <th i18n="Reimbursement.Index.Status">報銷狀態</th>
                    <th i18n="Reimbursement.Index.Benefit">福利</th>
                    <th i18n="Reimbursement.Index.ApplyDate">申請日</th>
                    <th i18n="Reimbursement.Index.Invoice">發票金額</th>
                    <th i18n="Reimbursement.Index.ApplyAmount">申請金額</th>
                    <th i18n="Reimbursement.Index.Paid">實際報銷費用</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FMFM_NAME</td>
                        <td>@item.SYSV_CLIV_STS_DESC</td>
                        <td>@item.CLIV_ADJ_EXEX_ID</td>
                        <td>@item.CLIV_APP_DT</td>
                        <td>@item.CLIV_CHG</td>
                        <td>@item.CLIV_APPLY_AMT</td>
                        <td>@item.CLIV_ALLOW_AMT</td>
                        <td>
                            <div class="layui-btn-group" style="border:0px;border-left:0px;">
                                <button onclick="add(@item.CLIV_KY)" class="layui-btn layui-btn-mini layui-btn-primary layui-btn-small" style="border:0;width: 22px; height: 22px;background: url(../../Content/Images/add.png) center center no-repeat;"></button>
                                <button onclick="edit()" class="layui-btn layui-btn-mini layui-btn-primary layui-btn-small" style="border:0;width: 22px; height: 22px;background: url(../../Content/Images/edit.png) center center no-repeat;"></button>
                                <button onclick="delet()" class="layui-btn layui-btn-mini layui-btn-primary layui-btn-small" style="border:0;width: 22px; height: 22px;background: url(../../Content/Images/delete.png) center center no-repeat;"></button>
                                <button onclick="upload()" class="layui-btn layui-btn-mini layui-btn-primary layui-btn-small" style="border:0;width: 22px; height: 22px;background: url(../../Content/Images/upload.png) center center no-repeat;"></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    layui.use('form',
        function () {
            var form = layui.form();
            form.on('select(memeInfo)',
                function (data) {
                    loadData(data.value);
                });
        });

    $(function () {
        loadData($("#MemeDropDownList").val());
    });

    function loadData(memeKy) {

    }

    function add(clivKy) {
        layer.open({
            id: 'one',
            resize: true,
            //shade: 0,
            area: ['675px', '530px'],
            type: 2,
            title: '新增',
            content: '../Reimbursement/Add',
            btn: ['保存', '取消'],
            btnAlign: 'c',
            yes: function (i, l) {
                //$("#lblPdName").html(result.PDPD_LONG_NAME);
                //$("#lblPdType").html(result.PDLT_COMMENT);
                //$("#lblQuota").html(result.PDLT_AMT);
                //$("#lblUsedQuota").html(result.USED_AMT);
            },
            btn2: function (i, l) {

            },
            cancel: function (i, l) {
                //$("#QuotaMessageBox").addClass("layui-hide");
                //$("#lblPdName").html("");
                //$("#lblPdType").html("");
                //$("#lblQuota").html("");
                //$("#lblUsedQuota").html("");
            }
        });
    }

    function edit(clivKy) {
        layer.open({
            id: 'one',
            resize: true,
            //shade: 0,
            area: ['675px', '730px'],
            type: 2,
            title: '修改',
            content: '../Reimbursement/Edit',
            btn: ['保存', '取消'],
            btnAlign: 'c',
            yes: function (i, l) {
                //$("#lblPdName").html(result.PDPD_LONG_NAME);
                //$("#lblPdType").html(result.PDLT_COMMENT);
                //$("#lblQuota").html(result.PDLT_AMT);
                //$("#lblUsedQuota").html(result.USED_AMT);
            },
            btn2: function (i, l) {

            },
            cancel: function (i, l) {
                //$("#QuotaMessageBox").addClass("layui-hide");
                //$("#lblPdName").html("");
                //$("#lblPdType").html("");
                //$("#lblQuota").html("");
                //$("#lblUsedQuota").html("");
            }
        });
    }

    function delet() {
        layer.open({
            id: 'one',
            //shade: 0,
            type: 0,
            title: '删除',
            content: '确定删除?',
            btn: ['删除', '取消'],
            btnAlign: 'c',
            yes: function (i, l) {
                $.ajax({
                    type: 'POST',
                    url: "/Reimbursement/Delete",
                    data: "",
                    dataType: "json",
                    success: function () {

                    }
                });
            }
        });
    }

    function upload() {
        layer.open({
            id: 'one',
            //shade: 0,
            type: 0,
            title: '上传',
            content: '上传?',
            btn: ['上传', '取消'],
            btnAlign: 'c',
            yes: function (i, l) {
                //$("#lblPdName").html(result.PDPD_LONG_NAME);
                //$("#lblPdType").html(result.PDLT_COMMENT);
                //$("#lblQuota").html(result.PDLT_AMT);
                //$("#lblUsedQuota").html(result.USED_AMT);
            }
        });
    }
</script>
