@using HkEbPortal.Models.EB_PORTAL
@model IEnumerable<SPEH_CLIV_CLAIM_INVOICE_INFO_LIST_WEB_RESULT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="Reimbursement.Index.fsaClaims">報銷</legend>
    </fieldset>

    <div class="layui-form" style="min-height:600px;max-height:100%;">
        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width:50px;"></th>
                    <th i18n="Reimbursement.Index.Applicant">家庭成員</th>
                    <th i18n="Reimbursement.Index.Status">報銷狀態</th>
                    <th i18n="Reimbursement.Index.Benefit">福利</th>
                    <th i18n="Reimbursement.Index.ApplyDate">申請日</th>
                    <th i18n="Reimbursement.Index.Invoice">發票金額</th>
                    <th i18n="Reimbursement.Index.ApplyAmount">申請金額</th>
                    <th i18n="Reimbursement.Index.Paid">實際報銷費用</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="radio" name="selectName" data-clivKy="@item.CLIV_KY" title=" "/></td>
                        <td>@item.MEME_NAME</td>
                        <td>@item.SYSV_CLIV_STS_DESC</td>
                        <td>@item.EBHK_EB_DESC</td>
                        <td>@item.CLIV_DT</td>
                        <td>@item.CLIV_CHG</td>
                        <td>@item.CLIV_APPLY_AMT</td>
                        <td>@item.CLIV_ALLOW_AMT</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="layui-upload">
        <button class="layui-btn  layui-btn-small" id="AddId" i18n="Reimbursement.Index.Add">新 增</button>
        <button class="layui-btn layui-btn-warm  layui-btn-small" id="UpdateId" i18n="Reimbursement.Index.Edit">編 輯</button>
        <button class="layui-btn layui-btn-danger  layui-btn-small" id="DeleteId" i18n="Reimbursement.Index.Delete">刪 除</button>
        <button class="layui-btn layui-btn-normal  layui-btn-small" id="UploadId" i18n="Reimbursement.Index.Image">影 像</button>
        <button class="layui-btn layui-btn-primary  layui-btn-small" id="submitId" i18n="Reimbursement.Index.Submit">提 交</button>
    </div>
</div>
<script src="~/Scripts/Reimbursement/Index.js"></script>