@using HkEbPortal.Models.EB_PORTAL
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="footer.menu.claims">彈性福利索償</legend>
    </fieldset>

    <form class="layui-form tableheight" id="fsaform">
        @Html.AntiForgeryToken()
        <div style="width: 100%">
            <div style="float: right; line-height: 30px">
                <span class="layui-badge-rim layui-bg-orange" i18n="Policy.index.Initial">当前积分</span> &nbsp;@Model.Initial
                <span class="layui-badge-rim layui-bg-orange" i18n="Policy.index.Remaiuing">剩余积分</span> &nbsp;@Model.Remaining
            </div>
        </div>
        <hr class="layui-bg-red" />
        <table class="layui-table">
            <colgroup>
                <col width="170">
                <col width="150">
                <col>
                <col width="100">
                <col width="130">
                <col width="130">
                <col width="50">
            </colgroup>
            <thead>
                <tr>
                    <th i18n="Reimbursement.Index.Applicant">家庭成員</th>
                    <th i18n="Reimbursement.Index.Status">報銷狀態</th>
                    <th i18n="Reimbursement.Index.Benefit">福利</th>
                    <th i18n="Reimbursement.Index.ApplyDate">申請日</th>
                    <th i18n="Reimbursement.Index.Invoice">發票金額</th>
                    <th i18n="Reimbursement.Index.Paid">實際報銷費用</th>
                    <th ></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = true;
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.MEME_NAME</td>
                            <td>@item.SYSV_CLIV_STS_DESC</td>
                            <td>@item.EBEB_DESC</td>
                            <td>@item.CLIV_DT</td>
                            <td>@item.CLIV_CHG</td>
                            <td>@item.CLIV_PAYABLE</td>
                            @*<td><input type="radio" name="selectName" @(index ? "checked" : "") data-clivKy="@item.CLIV_KY" data-clivSts="@item.SYSV_CLIV_STS" title=" " /></td>*@
                            <td  style="padding: 0; text-align: center" data-off="true">
                                <div class="layui-table-cell">
                                    @if (item.SYSV_CLIV_STS == "00" || item.SYSV_CLIV_STS == "01")
                                    {
                                        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail" i18n="public.common.edit" href="../Reimbursement/Edit?id=@item.CLIV_KY">Edit</a>
                                        <a class="layui-btn layui-btn-xs " lay-event="detail" i18n="public.common.delete" onclick="onDelete('@item.CLIV_KY')">Delete</a>
                                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="detail" i18n="public.common.submit" onclick="onSubmit('@item.CLIV_KY')">Submit</a>
                                    }
                                    else
                                    {
                                        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail" i18n="public.common.detail" href="../Reimbursement/Edit?id=@item.CLIV_KY">Detail</a>
                                        <a class="layui-btn layui-btn-xs layui-btn-disabled layuiDelete" lay-event="detail" i18n="public.common.delete" onclick="onDeleteTips(this)">Delete</a>
                                        <a class="layui-btn layui-btn-xs layui-btn-danger layui-btn-disabled layuiSubmit" lay-event="detail" i18n="public.common.submit"  onclick="onSubmitTips(this)">Submit</a>
                                    }
                                </div>
                            </td>
                        </tr>
                        index = false;
                    }
                }
            </tbody>
        </table>
        <a class="layui-btn layui-btn-warm layui-btn-sm" href="../Reimbursement/Add" i18n="public.common.add">新增</a>
    </form>
</div>
<script src="../Scripts/Reimbursement/Index.js"></script>
